@media (max-width: 700px){
    /* nav{
        display: in;
    } */
    /* .navbar{
        display: inherit;
    } */
    .tarjetas{
        display: inherit;
        height: auto;
    }
    .tarjeta{
        margin-top: auto;
    }
    .presentacion_seccion{
        display: inherit;
        padding: 4%;
        margin-bottom: auto;
        flex-direction: column;
    }
    .imagen_celular{
        display: inherit;
        height: auto;
        /* padding: auto; */
    }
    .texto{
        display: inherit;
        margin: 10%;
    }
    h3{
        display: inherit;
        padding: 5px;
    }
    #footer, #contacto{
        display: inherit;
    }
    #productos
    {
        margin: 30px;
    }

}