/* variables en css */
:root{
    --azulOscuro-color: #083863;
    --azulMedio-color: #00ACEA;
    --azulClaro-color: #00EFD1;
    --crema-color: seashell;
    --grisBordes-color: #bbb7b7;
}
html, body{
    padding: 0%;
    margin: 0%;
    font-family: 'Josefin Sans', sans-serif;
}
nav
{
    display: flex;    
    background-color: #083863;
    color: seashell;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    width: 300px;
    height: 80px;
    display: flex;
    align-items: flex-end;
}
nav ul
{
    display: flex;
    text-decoration: none;
}

nav li{
    padding-right: 20px;
    padding-left: 20px;
    list-style: none;
    font-size: 25px;
}

nav li a{
    color: seashell;
    text-decoration: none;
}

nav li a:hover{
    color: #00EFD1;
}

.presentacion_seccion{
    padding: 2%;
    text-align: center;
    background-color: #E3E3E3;
    display: flex;
    height: 35rem;
    align-items: center;
    justify-content: flex-start;
}
h1{
    color:#00ACEA;
    font-size: 40px;
    margin: 5px;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}
h3{
    color: #083863;
    flex-direction: column;
    font-size: 30px;
    margin: 5px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
}
.imagen_celular{
    /* margin-right: 40px; */
    /* margin-left: 0px; */
    /* width: 15rem; */
    /* height: 15rem; */
    padding: 10px;
}
.celular{
    margin-right: 20px;
    width: 700px;
    height: 500px;
}
.texto{
    display: flex;
    flex-direction: column;
    /* align-items: center;  */
    /* justify-content: center; */
    text-align: center;
}

.main_seccion{
    background-color: #083863;
    border: gray 5px solid;
    padding: 10px;
}
/* .productos{
    display: flex;
    background-image: url(../Imagenes\ 1.1/Curva.png);
    height: 500px;
    background-color: #E3E3E3;
} */
.productos{
    display: flex;
    background-color: #E3E3E3;
    padding: 30px;
    margin: 0px;
}

.imagenInferior{
    height: 150px;
    width: 15vw;
}
.wrapper {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.tarjetas .tarjeta{
    /* display: flex; */
    padding: 10px 10px 10px ;
    /* margin: 2px */
    /* border: 1px solid var(--grisBordes-color); */
    border-radius: 5px;
    margin: 7px;
    background-color: white;
    box-shadow: 0 0 5px var(--crema-color);
}
h2{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px;
    /* padding: 2px; */
}
.boton{
    background-color: var(--azulMedio-color);
    width: 110px;
    padding: 10px;
    font-size: 20px;
    color: var(--crema-color);
    box-shadow: 0 0 10px var(--crema-color) ;
    border: 0px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin: 0px;  
}
.boton:hover{
    background-color: var(--azulClaro-color);
}
footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #545454;
    height: 60px;
}
.wrapper-footer {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
}
.contacto{
    background-color: var(--azulMedio-color);
    margin: 0px;
}
.social-link{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0 10px;
}
.social-link.facebook{
    background-image: url("../Imagenes\ 1.1/facebook.png");
    background-size: 50px 50px;
}
.social-link.linkedin{
    background-image: url("../Imagenes\ 1.1/linkedin.png");
    background-size: 50px 50px;
}
.social-link.instagram{
    background-image: url("../Imagenes\ 1.1/instagram-bosquejado.png");
    background-size: 50px 50px;
}
.social-link.twitter{
    background-image: url("../Imagenes\ 1.1/twitter.png");
    background-size: 50px 50px;
}